<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324738651696-cndtsls1slikml0jscnv3vec8itao3o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324738651696-cndtsls1slikml0jscnv3vec8itao3o7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>324738651696-l7rjrl831u13irvlvqjidq3gs5eial2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Ca8uTGkP7UVcXw_a6uhnjfBZeCzutKU</string>
	<key>GCM_SENDER_ID</key>
	<string>324738651696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shokry.El-Khateeb</string>
	<key>PROJECT_ID</key>
	<string>newqubtansystem</string>
	<key>STORAGE_BUCKET</key>
	<string>newqubtansystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324738651696:ios:16e38139e851754c867ff5</string>
	<key>DATABASE_URL</key>
	<string>https://newqubtansystem.firebaseio.com</string>
</dict>
</plist>